.header {
  width: 880px;
  height: 74px;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
}
  
@media screen and (max-width: 899px) {
  .header {
    width: 581px;
  }
}
  
@media screen and (max-width: 619px) {
  .header {
    width: 266px;
    height: 56px;
    row-gap: 31.6px;
    padding-top: 28px;
  }
}  
