.popup__name-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 30px 0 13px;
  margin: 0;
  border: none;
}

@media screen and (max-width: 800px) {
  .popup__name-about {
    font-size: 14px;
    line-height: 17px;
  }
}